.container {
  display: block;
  width: 687px;
  height: 998px;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  border-radius: 4px;
  background-color: #fff;
  padding: 72px 67.5px 44px 67.5px;
  color: #414141;
}

.title {
  text-align: center;
  width: 260px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #414141;
  margin: 0 auto;
  margin-bottom: 40px;
}

.subtitle {
  width: 552px;
  height: 27px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}

.obligatoryFieldsWrapper {
    margin:  0 auto;
    // padding: 70px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 19px;
    border: 1px solid black;
    margin-bottom: 40px;
    
    .input {
      background-color: red;
    }
}

.freeFieldsWrapper {
  margin:  0 auto;
  // padding: 70px 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 19px;
  border: 1px solid black;
  margin-bottom: 40px;
  
  .input {
    background-color: red;
  }
}
