.textfield {
  margin-bottom: 1rem;
  box-sizing: border-box;

  &__label {
    display: inline-block;
    text-align: left;
    margin-bottom: 0.25rem;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8f8f8f;
    position: relative;

    &_submit {
      font-size: 18px;
      line-height: 150%;
      color: #8f8f8f;
    }
  }

  &__input {
    padding-left: 8px;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    color: #414141;
    display: block;
  }

  &__input_medium {
    width: 250px;
    height: 40px;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__input_large {
    width: 250px;
    height: 60px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }

  //для смс
  &__input_sms {
    padding: 12px 6px 12px 16px;

    // padding-left: px;
    width: 110px;
    height: 60px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 10px;
  }

  &__password {
    position: absolute;
    top: 50%;
    right: 6px;
    display: inline-block;
  }

  &__input:focus {
    background: #fff;
    border: 1px solid #70c05b;
    box-shadow: 4px 8px 16px rgb(112 192 91 / 20%);
    border-radius: 4px;
    outline: 0;
  }

  &__input:disabled {
    background-color: #f5f5f5;
    opacity: 1;
  }
}
