.textfield {
    margin-bottom: 1rem;
    box-sizing: border-box;
    
    &__label {
    display: inline-block;
    text-align: left;
    margin-bottom: 0.25rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8F8F8F;
    position: relative;
    }
    &__input {
    padding-left: 8px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    color: #414141;
    display: block;
    }
    &__input_medium {
    width: 250px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    }
    &__input_large {
    width: 250px;
    height: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    }
    &__password {
	position: absolute;
	top: 50%;
	right: 6px;
	display: inline-block;
    }
    &__input:focus {
    background: #FFFFFF;
    border: 1px solid #70C05B;
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
    border-radius: 4px;
    outline: 0;
    }
    &__input:disabled {
      background-color: #f5f5f5;
      opacity: 1;
    }
}
