.textfield {
  margin-bottom: 1rem;
  box-sizing: border-box;

  &__header {
    margin: 0 27px 11px 17px;
  }

  &__mobile {
    box-sizing: border-box;
    width: 90%;
  }

  &__label {
    display: inline-block;
    text-align: left;
    margin-bottom: 0.25rem;
    font-size: 16px;
    line-height: 150%;
    color: #8f8f8f;
    position: relative;
    &_sms {
      font-size: 18px;
    }
    &_mobile {
      display: inline-block;
      line-height: 150%;
      position: relative;
      width: 100%;
    }
  }

  &__input {
    padding-left: 16px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    color: #414141;
    display: block;
    font-size: 16px;
  }

  &__input_medium {
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 150%;
  }

  &__input_large {
    width: 250px;
    height: 60px;
    font-size: 24px;
    line-height: 150%;
  }

  &__input_huge {
    width: 260px;
    height: 60px;
    font-size: 22px;
    line-height: 150%;
  }

  &__input_header {
    padding: 8px 8px 8px 16px;
    width: 436px;
    height: 40px;
    border: 1px solid #70c05b;
    font-size: 16px;
    line-height: 150%;
    color: #8f8f8f;
  }

  &__input_mobile {
    padding: 8px;
    width: 100%;
    height: 40px;
    height: 40px;
    border: 1px solid #70c05b;
    font-size: 16px;
    line-height: 150%;
    color: #8f8f8f;
  }

  &__password {
    position: absolute;
    right: 6px;
    bottom: 0;
    display: inline-block;
    &_huge {
      position: absolute;
      right: 6px;
      display: inline-block;
      top: 45px;
    }
  }

  &__input:focus {
    background: #ffffff;
    border: 1px solid #70c05b;
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
    border-radius: 4px;
    outline: 0;
  }

  &__input:disabled {
    background-color: #f5f5f5;
    opacity: 1;
  }

  &__eye {
    width: 24px;
    height: 24;
  }
}

@media (max-width: 1129px) {
  .textfield {
    &__input_header {
      max-width: 386px;
    }
  }
}

@media (max-width: 1076px) {
  .textfield {
    &__header {
      margin: 0 10px 11px 17px;
    }
  }
}

@media (max-width: 1076px) {
  .textfield {
    &__header {
      margin: 0 10px 11px 17px;
    }
  }
}

@media (max-width: 856px) {
  .textfield {
    &__input_header {
      max-width: 336px;
    }
    &__header {
      margin: 0 5px 11px 7px;
    }
  }
}
