.input {
  background-color: red;
}

.category_page {
  display: flex;
}

.filter {
  position: relative;
  width: 272px;
  margin-right: 40px;
  height: 100%;
}

.filter_wrapper {
  width: 100%;
  text-align: center;
}

.filter_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.deletebtn_block {
  display: flex;
  height: 32px;
  gap: 24px;
}

.select_wrapper {
  margin-left: auto;
  width: 200px;
}

.button_filter {
  display: flex;
  padding: 12px 10px 10px 10px;
  width: 100%;
  height: 44px;
  text-align: center;
  margin-bottom: 40px;
  background-color: #f3f2f1;
  border-radius: 4px;
  color: #414141;
  &_media {
    display: none;
  }
}

.list_block {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ul_subcategory {
  list-style: none;
}

.li_subcategory {
  color: #414141;
  line-height: 24px;
  margin-bottom: 30px;
  cursor: pointer;
}

.li_subcategory_active {
  color: #ff6633;
}

.stock {
  display: flex;
  gap: 12px;
  line-height: 24px;
  color: #414141;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn_apply {
  width: 100%;
}

.btn_show {
  margin-top: 40px;
}

@media (max-width: 913px) {
  h2 {
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  .category_page {
    display: block;
  }

  .filter_none {
    display: none;
  }

  .button_filter {
    display: none;
    &_media {
      display: block;
      width: 128px;
      margin-bottom: 32px;
    }
  }

  .text_filter {
    color: #fff;
    font-weight: 400;
    text-align: center;
  }

  .deletebtn_block {
    display: none;
  }

  .popUp {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: -100;
    transition: 0.3s;
  }
}
