.header {
  width: 100%;
  background: #fff;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
}

.nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
}

.button__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 140px;
  height: 40px;
}

.large {
  width: 154px;
}

.button__text {
  margin: 0 23px;
  display: block;
}

.logo {
  display: block;
  margin: 0 24px 20px 0;
}

@media (max-width: 1280px) {
  .logo {
    margin: 0 16px 16px 0;
  }
}

@media (max-width: 1076px) {
  .button__text {
    display: none;
  }
  .logo {
    margin: 0 0 16px 0;
  }

  .button__wrapper {
    width: 40px;
  }
}

@media (max-width: 700px) {
  .header {
    display: none;
  }
}
