.header {
  width: 100%;
  background: #fff;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
}

.nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
}

.button__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 140px;
  height: 40px;
}

.large {
  width: 154px;
}

.button__text {
  margin: 0 23px;
  display: block;
}

.logo {
  display: block;
  margin: 0 24px 20px 0;
}

.inputWrapper {
  position: relative;
  padding: 0px 0px;
}

.list {
  list-style: none;
  position: absolute;
  width: 436px;
  top: 33px;
  left: 0px;
  background-color: #fff;
  margin: 0 0 0 17px;
  font-size: 16px;
  line-height: 150%;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #70c05b;
  border-top: none;
  padding: 0px 8px 8px 16px;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
  color: #8f8f8f;
  z-index: 1;
  // &:hover {
  //   color: #414141;
  // }

  &_empty {
    display: none;
  }
}

.list__item {
  cursor: pointer;
  &:hover {
    color: #414141;
  }
  &__link {
    color: #8f8f8f;
    text-decoration: none;
    &:hover {
      color: #414141;
    }
  }
}

.findWord {
  font-weight: 600;
}


@media (max-width: 1280px) {
  .logo {
    margin: 0 16px 16px 0;
  }
}

@media (max-width: 1129px) {
  .list {
    width: 386px;
  }
}

@media (max-width: 1076px) {
  .button__text {
    display: none;
  }
  .logo {
    margin: 0 0 16px 0;
  }

  .button__wrapper {
    width: 40px;
  }
}

@media (max-width: 856px) {
  .list {
    width: 336px;
    margin: 0 0 0 7px;
  }
}

@media (max-width: 700px) {
  .header {
    display: none;
  }
}
