.wrapper {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 10px 10px;
  width: 100%;
  background-color: #fff;
  line-height: 170%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.list {
  list-style: none;
  text-align: justify;
  color: #414141;
  font-size: 16px;
  line-height: 150%;
  text-indent: 30px;
}
