.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-bottom: 60px;
  overflow: hidden;

  &__wrapper {
    padding: 0 30px 0;
  }

  &__image {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background: #f3eeee;
    margin-bottom: 25px;
  }

  &__date {
    display: block;
    font-size: 16px;
    color: #8f8f8f;
    margin-bottom: 10px;
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #414141;
    margin-bottom: 25px;
  }

  &__text {
    display: block;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 50px;
  }
}

@media (max-width: 970px) {
  .article {
    border-radius: 10px;
    margin-bottom: 40px;

    &__wrapper {
      padding: 0 20px 0;
    }

    &__image {
      width: 100%;
      height: 300px;
      margin-bottom: 15px;
    }

    &__date {
      font-size: 14px;
      margin-bottom: 6px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 35px;
    }
  }
}
