.wrapper {
  display: flex;
  margin-bottom: 40px;
  align-items: end;
}

@media (max-width: 1068px) {
  .wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: 660px) {
  .wrapper {
    margin-bottom: 80px;
  }
}
