.wrapper {

  margin: 0 auto;
  display: block;
  position: relative;
  width: 420px;
  height: 481px;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  border-radius: 4px;
  background-color: #fff;
  padding: 72px 50px 48px 50px;
  color: #414141;
}

.title {
  text-align: center;
  width: 260px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #414141;
  margin: 0 auto;
  margin-bottom: 32px;
}

.inputField {
  margin: 0 auto;
  margin-bottom: 32px;
}

.button {
  width: 260px;
  height: 68px;
  margin-bottom: 32px;
  font-size: 24px;
}

.repeat {
  color: #606060;
  font-size: 12px;
  margin-bottom: 32px;

  &__again {
    text-decoration: underline;
    color: #ff6633;
    margin-bottom: 32px;
    &:hover {
      cursor: pointer;
    }
  }
}

.backWrapper {
  display: flex;
  width: 111px;
  height: 32px;
  font-size: 12px;
  margin: 0 auto;
  align-items: center;
  padding: 8px 8px 8px 12.5px;
  color: #606060;
  &:hover {
    cursor: pointer;
  }
}

.backWrapper__arrow {
  display: block;
}
.messageError {
  position: absolute;
  left: 27%;
  top: 21%;  
  display: flex;
  width: 192px;
  height: 40px;
  background: #d80000;
  border-radius: 5px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  &_text {
    text-align: center;
    color: #f2f2f2;
    font-size: 14px;
    line-height: 24px;
  }
}
