.card {
  position: relative;
  width: 272px;
  height: 349px;
  background-color: white;
  align-items: center;
}

.image {
  object-fit: contain;
  width: 95%;
  height: 160px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.article_button {
  //   background: green;
}
