.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  margin: 27px 0;
  align-items: center;
  column-gap: 24.5px;
  list-style: none;
}

.list_item {
  display: flex;
  align-items: center;
  gap: 24.5px;

  &:last-of-type > .link {
    color: #8f8f8f;
  }
}

.link {
  font-size: 12px;
  line-height: 150%;
  color: #414141;
  text-decoration: none;
}

.arrow {
  width: 7px;
  height: 13px;
}
