.wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  width: 360px;
  height: 100vh;
  background-color: #fff;
  padding: 20px 20px 0 20px;
  display: none;
  z-index: 2;
  transition: 0.3s;

  &_hide {
    display: none;
  }
}

.filter {
  position: relative;
  width: 100%;
  margin-right: 40px;
  height: 100%;
}

.category_page {
  display: flex;
}

.deletebtn_block {
  display: flex;
  height: auto;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.button_filter {
  background-color: #f3f2f1;
  padding: 10px 15px 10px 10px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
  color: #414141;
  height: 44px;
  align-items: center;
  line-height: 150%;
}

.cross {
  font-size: 15px;
  padding: 3px;
  cursor: pointer;

  &_green {
    color: #fff;
    background-color: #70c05b;
  }

  &_gray {
    color: #414141;
    background-color: #f3f2f1;
  }
}

.text_green {
  color: #ffffff;
  margin: 0 auto;
}

.text_gray {
  color: #606060;
  margin: 0 auto;
}
.green_block {
  display: flex;
  min-width: 118px;
  height: 32px;
  background-color: #70c05b;
  align-items: center;
  justify-content: space-between;
  padding: 8px 9.5px 8px 8px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px;

  &_gray {
    background-color: #f3f2f1;
  }
}

.btn_quantity {
  width: 118px;
}

.btn_price {
  width: 184px;
}

.btn_delete {
  width: 171px;
  color: #414141;
}

.list_block {
  margin-top: 50px;
  margin-bottom: 50px;
}

.list {
  list-style: none;
  margin-top: 30px;
}

.list_item {
  color: #414141;
  line-height: 24px;
  margin-bottom: 30px;
  cursor: pointer;

  &_active {
    color: #ff6633;
  }
}

.stock {
  display: flex;
  gap: 12px;
  line-height: 24px;
  color: #414141;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn_apply {
  width: 100%;
}

.btn_show {
  margin-top: 40px;
}

@media (max-width: 913px) {
  .wrapper {
    display: block;

    &_hide {
      left: 0;
    }
  }
}
