* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #fbf8ec;
  text-align: center;
}
.container {
  max-width: 1208px;
  margin: 0 auto;
}
