* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #fbf8ec;
  // padding-right: calc(16px - (100vw - 100%));
  // overflow: visible;
  // position: static;
}

.container {
  width: 1208px;
  margin: 0 auto;
}

#root {
  height: 100%;
}

.title_margin {
  margin-bottom: 40px;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }

  .title_margin {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }

  .title_margin {
    margin-bottom: 16px;
  }
}
