:root {
  // Main colors:
  --primary-color: #F63;
  --secondary-color: #70C05B;
  --surface-color: #FFF;
  --bg-color: #F4F4F2;
  --bg-text: #291E0F;
  --surface-text: #414141;
  --primary-text: #FFF;
  --secondary-text: #FFF;

  // GRAYSCALE:
  --lightest: #F3F2F1;
  --light: #BFBFBF;
  --hard: #8F8F8F;
  --hardest: #606060;

  // PALLETE
  --succes: #008C49;
  --info: #1CB9FC;
  --warning: #FCA21C;
  --error: #D80000;
}