.filter {
    position: relative;
    width: 360px;
    max-height: 1362px;
    background-color: #FFFFFF;
    padding: 20px;
}

.button_filter {
    width: 100%;
}
.text_button {
    font-weight: 700;
    color: black;
    text-align: start;
    padding: 5px;
}