.button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 150%;
  padding: 5px;
  transition: 0.2s;

  //Sizes
  &__large {
    width: 193px;
    height: 60px;
    font-size: 24px;
  }
  &__medium {
    height: 40px;
    width: 157px;
    font-size: 16px;
  }
  &__small {
    height: 32px;
    width: 157px;
    font-size: 12px;
  }

  //Background color
  &__orange {
    background: var(--primary-color);
    color: var(--primary-text);

    &_disabled {
      background: #fcd5ba;
      color: var(--primary-color);
      cursor: default;
    }
    &:hover {
      box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
      transition: 0.2s;
    }
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__green {
    background: #70c05b;
    color: #ffffff;

    &_disabled {
      background: #e5ffde;
      color: #70c05b;
      cursor: default;
    }
    &:hover {
      box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
      transition: 0.2s;
    }
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__gray {
    background: #f3f2f1;
    color: #606060;

    &_disabled {
      background: #ffffff;
      color: var(--light);
      cursor: default;
    }
    &:hover {
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
      transition: 0.2s;
    }
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__red {
    background: #d80000;
    color: #f2f2f2;

    &_disabled {
      background: #ffc7c7;
      color: #d80000;
      cursor: default;
    }
    &:hover {
      box-shadow: 4px 8px 16px rgba(216, 0, 0, 0.2);
      transition: 0.2s;
    }
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

//Border color
.border {
  &__orange {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      border: none;
      background: var(--primary-color);
      color: #fff;
      transition: 0.5s;
    }
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    }

    &_disabled {
      background: #fff;
      border: 1px solid #fcd5ba;
      color: var(--light);
      cursor: default;
    }
  }
  &__green {
    background: none;
    border: 1px solid #70c05b;
    color: #70c05b;

    &_disabled {
      background: #fff;
      border: 1px solid #e5ffde;
      color: var(--light);
      cursor: default;
    }

    &:hover {
      border: none;
      background: var(--primary-color);
      color: #fff;
      transition: 0.5s;
    }
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__gray {
    background: none;
    border: 1px solid #8f8f8f;
    color: #606060;

    &_disabled {
      background: #fff;
      border: 1px solid var(--light);
      color: var(--light);
      cursor: default;
    }
  }
  &__red {
    background: none;
    border: 1px solid #d80000;
    color: #d80000;

    &_disabled {
      background: #fff;
      border: 1px solid #ffc7c7;
      color: var(--light);
      cursor: default;
    }
  }
}
