.section {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 80px;
  }
}

@media (max-width: 1068px) {
  .section {
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 660px) {
  .section {
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
}
