.delivery {
  max-width: 1208px;
  margin: 0 auto;
  &__flex {
    display: flex;
    gap: 40px;
  }
}
.item1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: rgba(143, 143, 143, 1);
  font-size: 16px;
  width: 896px;
  margin-top: 27px;
  &__subtitle {
    padding-top: 9px;
    color: rgba(65, 65, 65, 1);
    height: 54px;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 27px;
  }
  &__select {
    width: 245px;
    height: 40px;
  }
}

.item1__subtitle_first {
  padding-top: 9px;
  color: rgba(65, 65, 65, 1);
  height: 54px;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.time {
  padding-top: 4px;
  display: flex;
  gap: 8px;
}
.item1__when__time,
.item1_time {
  height: 40px;
  color: rgba(96, 96, 96, 1);
  font-size: 16px;
  &:hover {
    background-color: rgba(112, 192, 91, 1);
    color: rgba(255, 255, 255, 1);
  }
  &:disabled {
    background-color: white;
    color: rgba(191, 191, 191, 1);
  }
}
.item1__when__time {
  width: 169px;
}

.time_min {
  padding-top: 2px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 249px;
  display: none;
}
.item1_time {
  width: 77.67px;
}

.wherewraper {
  display: flex;
  gap: 40px;
}

.input__street,
.input__house,
.input__apart,
.input__extra,
.enter__tel {
  height: 40px;
  border: 1px solid rgba(191, 191, 191, 1);
  color: rgba(65, 65, 65, 1);
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
}

.input {
  &__street {
    width: 243px;
  }
  &__house {
    width: 53px;
  }
  &__apart {
    width: 74px;
  }
  &__extra {
    width: 121px;
  }
}

.label__street,
.label__house,
.label__apart,
.label__extra {
  padding-top: 4px;
  height: 56px;
}

.label {
  &__street {
    width: 243px;
  }
  &__house {
    width: 53px;
  }
  &__apart {
    width: 74px;
  }
  &__extra {
    width: 121px;
  }
}

.date__select {
  width: 155px;
}

.enter__tel {
  width: 168px;
}

.enter_btn {
  width: 168px;
  height: 40px;
  font-size: 12px;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 102, 51, 1);
    transition: 0.2s;
  }
}

.email_btn,
.calc__btn {
  &:hover {
    background-color: #fbf8ec;
    color: rgba(112, 192, 91, 1);
  }
}

.email_btn {
  margin-top: 8px;
  width: 152px;
  height: 24px;
  font-size: 12px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calc__btn {
  width: 272px;
  height: 40px;
  font-size: 16px;
}

@media (max-width: 1250px) {
  .wherewraper {
    gap: 32px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .item1 {
    width: 449px;
  }
  .item1__select {
    width: 174px;
  }
  .input__street,
  .label__street {
    width: 243px;
  }
  .label__house,
  .input__house {
    width: 67px;
  }
  .label__apart,
  .input__apart {
    width: 160px;
  }
  .label__extra,
  .input__extra {
    width: 158px;
  }
  .time {
    display: none;
  }
  .time_min {
    display: flex;
  }
  .enter__tel {
    width: 141px;
  }
  .enter_btn {
    width: 111px;
  }
  .email_btn {
    width: 101px;
  }
  .calc__btn {
    width: 255px;
  }
}

@media (max-width: 800px) {
  .delivery__flex {
    flex-direction: column;
    gap: 32px;
  }
  .item1 {
    width: 336px;
  }
  .item1__subtitle {
    padding-top: 0;
    margin-bottom: 16px;
  }
  .item1__subtitle_first {
    padding-top: 0;
  }
  .calc__btn {
    width: 336px;
    margin-bottom: 40px;
  }
  .wherewraper {
    width: 100%;
    gap: 16px 16px;
  }

  .datewraper {
    margin-bottom: 16px;
  }

  .item1__select,
  .input__street,
  .label__street,
  .date__select,
  .datewraper,
  .time_min,
  .enter__tel,
  .item1__label {
    width: 100%;
  }

  .label__house,
  .input__house {
    width: 65px;
  }

  .label__apart,
  .input__apart {
    width: 77px;
  }

  .label__extra,
  .input__extra {
    width: 162px;
  }

  .time_min {
    height: 110px;
  }
  .item1_time {
    width: 106.67px;
  }
  .item__enter {
    height: 156px;
  }
  .enter_btn,
  .email_btn {
    width: 152px;
  }
}
