.product {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 5.5px 0;
  }
}

.art {
  margin-right: 24px;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.nav__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 34.5px;

  &__rewiew {
    cursor: pointer;
    margin-left: 8px;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #414141;
  }
}

.btn_favorites {
  display: flex;
  align-items: center;
  background-color: #fbf8ec;
  color: rgb(96 96 96 / 100%);
  font-size: 12px;
  border: none;
  cursor: pointer;
  &:first-of-type {
    margin-right: 41.05px;
  }
}

.btn_favorites_share::before {
  content: url("./assets/share.svg");
  margin-right: 9.05px;
  height: 24px;
  width: 24px;
}

.btn_favorites_heart::before {
  content: url("./assets/heart.svg");
  margin-right: 9.05px;
  height: 24px;
  width: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: 80px 496px 424px 152px;
  column-gap: 16px;
  row-gap: 20px;
  &__slider {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 64px;
  }
  &__product {
    overflow: hidden;
    width: 496px;
    height: 504px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background: #ffffff;
  }
  &__description {
    padding: 0 24px;
  }
  &__similar {
    display: flex;
    width: 152px;
    flex-direction: column;
    row-gap: 8px;
  }
}

.slider {
  &__wrapper {
    display: flex;
    align-items: center;
    width: 80px;
    height: 86.4px;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #ffffff;
  }
  &__image {
    display: block;
    width: 80px;
    height: 80px;
    padding: 5px;
    object-fit: contain;
  }
}

.product {
  &__image {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
  }
}

.description {
  &__price_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &__information {
    display: flex;
    flex-direction: column;
  }
}

.price {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__price_old {
    margin-top: 13px;
    font-size: 24px;
    line-height: 150%;
    color: #606060;
  }
  &__price_new {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #414141;
    text-align: right;
  }
}
.text {
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
  text-align: center;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info_wrapper {
    display: flex;
    margin: 1.5px 0;
    align-items: center;
  }
  &__image {
    margin-left: 8px;
    display: block;
    width: 21px;
    height: 21px;
  }
}

.btn_basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 376px;
  height: 60px;
  margin-bottom: 16px;
  background-color: rgb(255 102 51 / 100%);
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 150%;
  border-radius: 4px;
  border: inherit;
  cursor: pointer;
  &__text {
    width: 304px;
  }
  &::before {
    content: "";
    display: block;
    margin-right: 8px;
    background-image: url("./assets/cart.svg");
    width: 32px;
    height: 32px;
  }
}

.points {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20.5px;
  font-size: 12px;
  line-height: 150%;
  color: #70c05b;
  &::before {
    content: "";
    display: block;
    margin-right: 8px;
    background-image: url("./assets/somegreen.svg");
    width: 24px;
    height: 12px;
  }
  &__bold {
    font-weight: 700;
  }
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  font-size: 12px;
  line-height: 150%;
  color: #606060;
  &::before {
    content: "";
    display: block;
    margin-right: 8.5px;
    background-image: url("./assets/bell-off.svg");
    width: 24px;
    height: 24px;
  }
}

.information {
  &__wrapper {
    display: flex;
    column-gap: 30px;
    height: 26px;
    padding: 4px 8px;
    margin-bottom: 4px;
    &:nth-child(2n + 1) {
      background: #f3f2f1;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__left {
    width: 142px;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }
  &__right {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }
}

.similar {
  &__title {
    color: rgb(96 96 96 / 100%);
    font-size: 16px;
    line-height: 150%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 1240px) {
  .wrapper {
    grid-template-columns: 64px auto 344px;
    grid-template-rows: auto 158px;
    &__slider {
      max-height: 322px;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__product {
      margin: 0 auto;
      width: 100%;
    }
    &__description {
      padding: 0;
    }
    &__similar {
      width: 100%;
      grid-column: span 3;
      grid-row: 2;
    }
  }

  .slider {
    &__wrapper {
      overflow: visible;
      width: 64px;
      height: 64px;
    }
    &__image {
      width: 64px;
      height: 64px;
    }
  }

  .price {
    &__price_old {
      margin-top: 4px;
      font-size: 18px;
    }
    &__price_new {
      font-size: 24px;
    }
  }
  .text {
    font-size: 12px;
  }

  .btn_basket {
    width: 344px;
    &__text {
      width: 272px;
    }
  }

  .points {
    margin-bottom: 16px;
  }

  .notice {
    margin-bottom: 32px;
  }

  .similar {
    &__wrapper {
      flex-direction: row;
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 72px auto;
    grid-template-rows: auto auto auto;
    &__slider {
      max-height: 100%;
      row-gap: 8px;
    }
    &__description {
      margin: 0 auto;
      width: 336px;
      grid-column: span 2;
      grid-row: 2;
    }
    &__similar {
      width: 100%;
      grid-column: span 2;
      grid-row: 3;
    }
  }

  .slider {
    &__wrapper {
      overflow: visible;
      width: 72px;
      height: 72px;
    }
    &__image {
      width: 72px;
      height: 72px;
    }
  }

  .price {
    &__price_old {
      font-size: 20px;
    }
  }
  .text {
    font-size: 8px;
  }

  .description {
    &__price_wrapper {
      margin-bottom: 22px;
    }
  }

  .btn_basket {
    width: 336px;
    height: 40px;
    font-size: 16px;
    &__text {
      width: 288px;
    }
    &::before {
      margin-right: 0;
    }
  }

  .points {
    margin-bottom: 24px;
  }

  .information {
    &__left,
    &__right {
      font-size: 8px;
    }
  }

  .similar {
    &__title {
      font-size: 12px;
    }
    &__wrapper {
      flex-direction: row;
      column-gap: 8px;
    }
  }
}

@media (max-width: 640px) {
  .wrapper {
    &__slider {
      max-height: 248px;
    }
  }
  .prodact__image {
    max-width: 248px;
    max-height: auto;
    margin: 0;
  }
  .wrapper__product {
    margin: 0 auto;
    max-width: 100%;
    height: 248px;
  }
}
