.wrapper {
  background-color: #ffffff;
  width: 876px;
  position: relative;
  border-radius: 4px;
}

.card_basket {
  display: flex;
  border-radius: 4px;
  max-width: 876px;
  height: 90px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);

  &__empty {
    opacity: 0.5;
  }
}

.not_avail {
  opacity: 0.5;
  top: 8px;
  right: 8px;
  max-width: 112px;
}

.check {
  position: relative;
}

.product_checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 8px;
  top: -8px;
  z-index: 1;
}

.product_image {
  display: block;
  width: 80px;
  height: 60px;
  margin-right: 8px;
  top: 0;
  left: 0;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.card_text {
  display: flex;
  flex-direction: column;
}

.product_describe {
  text-align: start;
  padding-top: 10px;
  margin-bottom: 10px;
  width: 536px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  display: flex;
  margin-bottom: 8px;
}

.price_discount {
  font-size: 12px;
  font-weight: 700;
  margin-right: 16px;
  line-height: 18px;
}

.price_usual {
  color: #606060;
  font-size: 12px;
  line-height: 18px;
  margin-right: 8px;
}

.withcard {
  font-size: 12px;
  color: #bfbfbf;
  font-weight: 400;
  line-height: 18px;
  float: left;
  margin-right: 8px;
}

.withoutcard {
  font-size: 12px;
  color: #bfbfbf;
  font-weight: 400;
  line-height: 18px;
  float: right;
}

.one {
  font-size: 12px;
  margin-right: 8px;
}

.end {
  display: flex;
  position: absolute;
  right: 8px;
  margin-top: 10px;
}

.total_price {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  text-align: end;
  line-height: 27px;
}

.total_cross {
  text-decoration: line-through;
  color: #8f8f8f;
  display: block;
  text-align: end;
}

@media (max-width: 1100px) {
  .wrapper {
    width: 660px;
  }

  .product_describe {
    width: 350px;
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 769px) {
  .wrapper {
    width: 449px;
  }
  .card_basket {
    max-width: 449px;
    height: 114px;
  }

  .end {
    flex-direction: column;
    position: absolute;
    right: 4px;
  }

  .withoutcard {
    margin-right: 4px;
  }

  .card_text {
    max-width: 217px;
    display: block;
  }

  .price_discount {
    margin-right: 8px;
  }

  .total_price {
    margin-left: 0;
    margin-top: 4px;
    text-align: end;
  }

  .not_avail {
    text-align: end;
  }
  .product_describe {
    width: 217px;
  }
}

@media (max-width: 440px) {
  .wrapper {
    max-width: 336px;
    height: 146px;
  }

  .card_basket {
    display: block;
    height: 146px;
  }

  .product_image {
    width: 104px;
    height: 90px;
    display: inline;
    float: left;
  }

  .card_text {
    display: inline;
  }

  .product_describe {
    font-size: 12px;
  }

  .end {
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    margin: 0;
    right: 0;
  }

  .total_price {
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
  }

  .total_cross {
    font-size: 12px;
  }

  .not_avail {
    font-size: 18px;
    line-height: 27px;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
  }
}
