.card_basket {
    position: relative;
    display: flex;
    max-width: 876px;
    height: 90px;
    background-color: #FFFFFF;
}

.product_checkbox {
position: absolute;
width: 24px;
height: 24px;
left: 8px;
top: -8px;
z-index: 1;
}

.product_image {
    // position: relative;
    display: block;
    width: 80px;
    height: 60px;
    margin-right: 8px;
    top: 0;
    left: 0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}

.card_text {
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.product_describe {
    text-align: start;
    margin: 10px 0 10px;
    width: 576px;
}

.price {
  display: flex;
  margin-bottom: 8px;
}

.price_discount {
  font-size: 12px;
  font-weight: 700;
  margin-right: 16px;
  line-height: 18px;
}

.price_usual {
  color: #606060;
  font-size: 12px;
  line-height: 18px;
  margin-right: 8px;
  
}

.withcard {
  font-size: 12px;
  color: #bfbfbf;
  font-weight: 400;
  line-height: 18px;
  float: left;
  margin-right: 8px;
}
.withoutcard {
  font-size: 12px;
  color: #bfbfbf;
  font-weight: 400;
  line-height: 18px;
  float: right;
}

.one {
    font-size: 12px;
    margin-right: 8px;
}

.discount {
    ;
}
