.select {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  line-height: 150%;
  padding: 5px;
  color: #414141;
}

.select__text {
  background-color: "#FF6633";
  color: "#FFFFFF";
}
