.custom-select {
  &__control {
    text-align: left !important;
    min-height: 40px !important;
    height: 41px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    outline: 0 !important;
    cursor: default;
    background: #fff !important;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 10%) !important;
    border: none !important;

    &--is-disabled {
      background: #f3f2f1 !important;
    }

    &--menu-is-open {
      border: 1px solid #70c05b !important;
      height: 41px !important;
      box-shadow: 4px 8px 16px rgb(112 192 91 / 20%) !important;
      border-bottom: none !important;
      border-radius: 4px 4px 0 0 !important;
      transition: border 0s !important;
    }

    &--menu-is-open > .custom-select__indicators {
      transform: rotateX(180deg);
    }
  }

  &__placeholder {
    cursor: default;
    font-size: 16px !important;
    line-height: 150% !important;
    color: #bfbfbf !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &__value-container {
    padding: 0 0 0 16px !important;
    margin-right: 4px !important;
    column-gap: 4px;
  }

  &__multi-value {
    background: #f63 !important;
    border-radius: 4px !important;
    margin: 0 !important;
    width: 77px;
    height: 24px;

    &__label {
      font-size: 16px !important;
      line-height: 150% !important;
      color: #fff !important;
      padding: 0 !important;
      padding-left: 8px !important;
      padding-right: 2px !important;
    }

    &__remove {
      color: #fff !important;
      border-radius: 2px;
      padding: 0 !important;
      box-sizing: border-box;

      &:hover {
        background-color: #ec5e2e !important;
        color: #fff !important;
      }
    }

    &--is-disabled {
      background: #bfbfbf !important;
    }
  }

  &__indicator-separator {
    display: none !important;
  }

  &__menu {
    text-align: left !important;
    overflow: hidden;
    border: 1px solid #70c05b;
    border-top: none;
    border-radius: 0 0 4px 4px !important;
    box-shadow: 4px 8px 16px rgb(112 192 91 / 20%) !important;
    margin: 0 !important;

    &-list {
      padding: 0 !important;
    }
  }

  &__option {
    background-color: #fff !important;
    color: #232323 !important;
    padding: 8px !important;
    padding-left: 16px !important;
    box-sizing: border-box;

    &--is-focused {
      background: #fcd5ba !important;
      color: #f63 !important;
    }
  }

  &__custom-dropdown {
    padding: 8px;
    padding-right: 13.5px;
  }

  &__input {
    caret-color: #70c05b;
  }
}

.control-styles {
  text-align: left !important;
  font-size: 16px;
  line-height: 150%;
  color: #8f8f8f;
}

.no-option-message {
  text-align: left !important;
}
