.basket {
  &__buttons {
    margin-bottom: 20px;
    width: 255px;
    display: flex;
    gap: 56px;
    position: relative;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
}

.title__box {
  margin-bottom: 44px;
  position: relative;
  height: 54px;
}

.btn_select__all {
  width: 118px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
  color: rgb(96 96 96 / 100%);
  background-color: #fbf8ec;
  cursor: pointer;
  margin-left: 35px;

  &:hover {
    color: rgb(255 102 51 / 100%);
  }
}

.btn_delete__all {
  width: 118px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
  color: rgb(96 96 96 / 100%);
  background-color: #fbf8ec;
  cursor: pointer;

  &:hover {
    color: rgb(255 102 51 / 100%);
  }
}

.basketitem {
  font-size: 20px;
  margin-top: 25px;
}

.item1 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 876px;
}

.item1:nth-child(3) {
  box-shadow: 6px 8px 16px rgb(255 102 51 / 20%);
}

.product {
  width: 449px;
  height: 114px;
  background: #fff;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);

  &:hover {
    background-color: #e4f4e1;
  }
}

.checkbox__main {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 8px;
  border-radius: 4px;
}

.checkbox {
  border: 1px solid white;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -6px;
  left: 8px;
  border-radius: 4px;
}

.item2 {
  display: flex;
  flex-direction: column;
  width: 255px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(143 143 143 / 100%);
  align-items: center;

  &__debit {
    margin-bottom: 22px;
    display: flex;
  }

  &__p {
    color: "rgba(65, 65, 65, 1)";
    padding-top: 4px;
  }

  &__text {
    width: 255px;
  }
}

.toggle {
  width: 46px;
  height: 24px;
  border-radius: 100px;
  margin-right: 22px;
}

.table {
  border-top: 2px solid rgb(243 242 241 / 100%);
  margin: 16px 0 8px;
  text-align: left;
  border-spacing: 16px;
  padding-left: 0;
  width: 255px;
  text-align: left;

  &__total {
    border-top: 2px solid rgb(243 242 241 / 100%);
  }

  &__tr {
    height: 24px;
  }

  &__td {
    text-align: right;
  }
}

.points {
  width: 201px;
  height: 32px;
  position: relative;
  font-size: 12px;
  text-align: right;
}

.points > img {
  width: 24px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 8px;
}

.points > p {
  color: #70c05b;
  padding-top: 8px;
}

.minprice {
  background-color: rgb(216 0 0 / 100%);
  color: rgb(255 255 255 / 100%);
  width: 214px;
  height: 24px;
  border-radius: 4px;
  font-size: 11px;
  text-align: center;
  margin: 24px 0 19px;
  padding: 5px 8px;
}

.basket_btn {
  background-color: rgb(252 213 186 / 100%);
  color: rgb(255 102 51 / 100%);
  font-family: Rubik, sans-serif;
  font-size: 24px;
  width: 255px;
  height: 60px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;

  &:hover {
    color: rgb(252 213 186 / 100%);
    background-color: rgb(255 102 51 / 100%);
    transition: 0.2s;
  }
}

@media (max-width: 440px) {
  .basket__flex {
    flex-direction: column;
  }
  .item2 {
    width: 336px;
  }
}
