.button {
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  height: 40px;
  min-width: 40px;
  margin: 0 0 16px 12px;

  //Background color
  &__orange {
    background: #ff6633;
    color: #ffffff;
  }
  &__green {
    background: #70c05b;
    color: #ffffff;
  }
}

@media (max-width: 769px) {
  .button {
    margin-left: 8px;
  }
}
