.button {
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  height: 40px;
  min-width: 40px;
  margin: 0 0 16px 13px;

  &__large {
    width: 154px;
  }

  //Background color
  &__orange {
    background: #f63;
    color: #fff;
  }

  &__green {
    background: #70c05b;
    color: #fff;
  }
}

@media (max-width: 1009px) {
  .button__large {
    width: 40px;
  }

  .button__wrapper {
    width: 40px;
  }
}

@media (max-width: 769px) {
  .button {
    margin-left: 8px;
  }
}

@media (max-width: 701px) {
  .button {
    margin: 0 0 8px 12px;
  }
}
