.menu {
  position: fixed;
  left: 0;
  width: 100%;
  top: 72px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  min-height: 248px;
  text-align: left;
  font-weight: 700;
  line-height: 150%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0 40px;
  padding: 40px 0px;
}

.half {
  display: flex;
  flex-flow: row wrap;
  gap: 0 40px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 40px;
  padding: 40px 0px;
  list-style-type: none;

  &__link {
    color: #414141;
    text-decoration: none;
    &:hover {
      color: #ff6633;
    }
  }
  &__item {
    display: inline-block;
    width: 272px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1300px) {
  .half {
    display: flex;
    flex-direction: column;
    gap: 0 40px;
  }
  .wrapper {
    padding: 16px 40px 0 16px;
  }
}
@media (max-width: 639px) {
  .menu {
    font-weight: 400;
  }
}

// .menu {
//   position: fixed;
//   left: 0;
//   width: 100%;
//   top: 72px;
//   background: #ffffff;
//   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
//   min-height: 248px;
//   text-align: left;
//   font-weight: 700;
//   line-height: 150%;
// }

// .wrapper {
//   display: flex;
//   flex-flow: row wrap;
//   gap: 0 40px;
//   padding: 40px 0px;
// }

// .half {
//   display: flex;
//   flex-flow: row wrap;
//   gap: 0 40px;
// }

// .list {
//   width: 272px;
//   list-style-type: none;

//   &__link {
//     color: #414141;
//     text-decoration: none;
//     &:hover {
//       color: #ff6633;
//     }
//   }
//   &__item {
//     margin-bottom: 24px;
//   }
// }

// @media (max-width: 1300px) {
//   .half {
//     display: flex;
//     flex-direction: column;
//     gap: 0 40px;
//   }
//   .wrapper {
//     padding: 16px 40px 0 16px;
//   }
// }
// @media (max-width: 639px) {
//   .menu {
//     font-weight: 400;
//   }
// }
