.button {
  box-sizing: border-box;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0 12px;
}

.pictogram {
  margin-bottom: 8px;
  display: block;
}
