.button {
  box-sizing: border-box;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0 12px 11px;

  &:hover {
    color: #ff6633;
    .button__image_hover {
      display: block;
    }
    .button__image {
      display: none;
    }
  }

  &__image {
    margin: 0 auto 8px;
    display: block;
  }

  &__image_hover {
    margin: 0 auto 8px;
    display: none;
  }
}

@media (max-width: 769px) {
  .button {
    margin: 0 8px 11px;
  }
}
