.modal {
  max-width: 95%;
  max-height: 90%;
  height: 700px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  padding: 32px;
  font-size: 22px;
  line-height: 150%;
  color: #414141;
  background: #fff;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 10%);
  z-index: 10;
}

.main {
  height: calc(700px - 84px - 94px);
}

.title {
  margin-bottom: 16px;
  text-align: left;
  font-size: 24px;
  line-height: 150%;
}
.text {
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
  line-height: 150%;
}

.telephone {
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  color: #414141;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  column-gap: 13.12px;
  align-items: flex-end;
}
