.modal {
  max-width: 95%;
  max-height: 90%;
  height: 700px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  padding: 32px;
  font-size: 22px;
  line-height: 150%;
  color: #414141;
  background: #fff;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 10%);
  z-index: 100;
}
