.orders {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;

  &__day {
    display: flex;
    gap: 24px;
    align-items: center;
    text-align: center;
  }
  &__date {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #414141;
  }
  &__time {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #414141;
  }
  &__statusInProcess {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #414141;
    padding: 4px 8px;
    background: #f3f2f1;
    border-radius: 4px;
  }
  &__statusNo {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f2f2f2;
    padding: 4px 8px;
    background: #d80000;
    border-radius: 4px;
  }
  &__statusYes {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    padding: 4px 8px;
    background: #70c05b;
    border-radius: 4px;
  }
  &__right {
    display: flex;
    gap: 24px;
    align-items: center;
    text-align: center;
  }
  &__price {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #414141;
  }
  &__btn_order {
    width: 200px;
    height: 40px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background: #ff6633;
    border-radius: 4px;
  }
  &__btn_get {
    width: 200px;
    height: 40px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background: #70c05b;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
    &__calendar {
    width: 24px;
    height: 24px;
  }
    &__btn_getsmall {
    display: none;
    width: 120px;
    height: 40px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background: #70c05b;
    border-radius: 4px;
  }
    &__calendar_white {
    display: none;    
    width: 19px;
    height: 19px;
}
}


@media (max-width: 950px) {
.orders {
    margin-top: 20px;
    
    &__time {
    display: none;
    }
}
}

@media (max-width: 720px) {
.orders {
    margin-top: 14px;
    
  &__day {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
    &__statusInProcess {
    font-size: 12px;
  }
  &__statusNo {
    font-size: 12px;
  }
  &__statusYes {
    font-size: 12px;
  }
    &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__price {
    text-align: center;
        font-size: 20px;
}
  &__btn_get {
    display: none;
  }
    &__btn_getsmall {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    }
    &__calendar_white {
    display: block;
    }
    &__btn_order {
    width: 168px;
    height: 40px;
    }
}
}
