.header_bottom {
  position: sticky;
  z-index: 1;
  bottom: 0;
  background: #fff;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
}

.nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  padding: 0 9px 0 0;
}

.button__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
}

@media (min-width: 701px) {
  .header_bottom {
    display: none;
  }
}
