.header_top {
  width: 100%;
  background: #fff;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
}

.nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  padding: 8px 4px;
}


.logo {
  display: block;
  margin: 0 22px 3px 0;
}

@media (min-width: 701px) {
  .header_top {
    display: none;
  }
  
}
