.header_top {
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  padding: 8px 4px;
}

.logo {
  display: block;
  margin-right: 12px;
}

@media (min-width: 701px) {
  .header_top {
    display: none;
  }
}
