.header_top {
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  padding: 8px 4px;
}

.header_input {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #70c05b;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8f8f8f;
  outline: none;
  margin-left: 12px;
}

.logo {
  display: block;
  margin-right: 12px;
}

@media (min-width: 701px) {
  .header_top {
    display: none;
  }
}
