.vacancy_page {
  max-width: 1168px;
  // min-height: calc(100vh - 144px - 126px);
  margin: 0 auto;
  &_title {
    height: 96px;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 60px;
    padding-top: 16px;
  }
}

.vacancy {
  margin: 0 auto;
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1168px;
}

.item_empty {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .vacancy_page {
    max-width: 98%;
  }
  .vacancy {
    max-width: 99%;
    gap: 24px;
  }
}
