.discount {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 150%;
  background: #ffffff;
  border-radius: 4px;
}

.small {
  width: 46px;
  height: 24px;
}

.large {
  padding: 4px 8px;
  width: 56px;
  height: 32px;
  font-size: 16px;
}

.orange {
  color: #ffffff;
  background: #ff6633;
}
.gray {
  color: #414141;
  background: #f3f2f1;
}
.red {
  color: #f2f2f2;
  background: #d80000;
}
.lightGreen {
  color: #ffffff;
  background: #70c05b;
}
.darkGreen {
  color: #f2f2f2;
  background: #008c49;
}
