.discount {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 150%;
  background: #fff;
  border-radius: 4px;
}

.small {
  height: 24px;
}

.large {
  padding: 4px 8px;
  height: 32px;
  font-size: 16px;
}

.orange {
  color: #fff;
  background: #f63;
}

.gray {
  color: #414141;
  background: #f3f2f1;
}

.red {
  color: #f2f2f2;
  background: #d80000;
}

.lightGreen {
  color: #fff;
  background: #70c05b;
}

.darkGreen {
  color: #f2f2f2;
  background: #008c49;
}
