.vacancy {
  padding: 32px;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
  background: #ffffff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 376px;
}

.title {
  margin-bottom: 16px;
  text-align: left;
  font-size: 24px;
  line-height: 150%;
}

.text {
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
  line-height: 150%;
}

.telephone {
  text-align: left;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 150%;
}

.wrapper {
  display: flex;
  column-gap: 13.12px;
  align-items: flex-end;
}

@media (max-width: 1100px) {
  .vacancy {
    padding: 24px;
    max-width: 99%;
  }
  .title {
    font-size: 18px;
  }
  .text {
    font-size: 16px;
  }
  .telephone {
    font-size: 12px;
  }
  .wrapper > img {
    height: 20px;
    width: 20px;
  }
}
