.similar_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 168px;
  height: 104px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

img {
  height: 57px;
  margin: 0 auto;
}

.price {
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  line-height: 27px;
}

@media (max-width: 768px) {
  .similar_card {
    width: 172px;
    height: 158px;
  }

  img {
    height: 111px;
  }
}

@media (max-width: 360px) {
  .similar_card {
    width: 78px;
    height: 62px;
  }

  img {
    height: 25px;
  }

  .price {
    position: absolute;
    font-size: 14px;
    line-height: 21px;
    bottom: 0px;
    margin: 8px;
    
  }
}
