.counter {
  background-color: #70c05b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  column-gap: 8px;
  border-radius: 4px;
  width: 100px;
  height: 40px;
}

.count {
  font-size: 16px;
  color: #fff;
  width: 20px;
  height: 24x;
  text-align: center;
}

.btn {
  background-color: #70c05b;
  border: none;
  font-size: 15px;
  color: #fff;
}

@media (max-width: 768px) {
  .counter {
    width: 120px;
  }
  .count {
    width: 40px;
  }
}

@media (max-width: 440px) {
  .counter {
    width: 141px;
  }

  .count {
    width: 61px;
  }
}
