.counter {
  background-color: #70c05b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  column-gap: 8px;
  border-radius: 4px;
  width: 100px;
  height: 40px;
}

.count {
  background-color: #70c05b;
  font-size: 16px;
  color: #fff;
  width: 20px;
  height: 24x;
  text-align: center;
}

.btn {
  display: block;
  background-color: #70c05b;
  border: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-decoration: none;
  width: 30px;
  height: 40px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}

.btn:hover {
    color: #606060;
}

@media (max-width: 768px) {
  .counter {
    width: 120px;
  }
  .count {
    width: 40px;
  }
}

@media (max-width: 440px) {
  .counter {
    width: 141px;
  }

  .count {
    width: 61px;
  }
}
