.range {
  // min-width: 272px;
  width: 272px;
  height: 122px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  &__roof {
    height: 32px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 85px;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    height: 32px;
    color: rgba(96, 96, 96, 1);
    background-color: #f3f2f1;
    cursor: pointer;
  }
  &__text {
    padding-top: 4px;
    width: 40px;
    height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
  }
  &__price {
    display: flex;
    justify-content: space-between;
    &__cell {
      color: rgba(65, 65, 65, 1);
      width: 124px;
      height: 40px;
      border: 1px solid rgba(191, 191, 191, 1);
      border-radius: 4px;
      padding: 8px 16px;
    }
    &__dach {
      width: 15px;
      height: 1px;
      border: 0.5px solid rgba(65, 65, 65, 1);
      margin-top: 19.5px;
    }
  }
  &__input {
    background-color: inherit;
    pointer-events: none;
    position: absolute;
    height: 24px;
    width: 272px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    z-index: 16;
    background: rgba(112, 192, 91, 1);
    border: 1px solid white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: -10px;
    box-shadow: 2px 4px 8px rgba(112, 192, 91, 0.2);
  }

  &__input::-webkit-slider-runnable-track {
    width: 272px;
    border-radius: 2px;
    height: 4px;
    z-index: 1;
    border: 1px solid rgba(112, 192, 91, 1);
    background-color: rgba(112, 192, 91, 1);
  }

  &__input::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #77da6f, 0 0 9px #77da6f;
    -webkit-box-shadow: inset 0 0 3px #77da6f, 0 0 9px #77da6f;
  }
}
