@mixin after-checked {
  content: "";
  background-image: url("./assets/checked.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
