.modalvacancy {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  padding: 32px;
  font-size: 22px;
  line-height: 150%;
  color: #414141;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin-bottom: 16px;
  text-align: left;
  font-size: 24px;
  line-height: 150%;
}
.text {
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
  line-height: 150%;
}

.info {
  height: 68px;
}

.telephone {
  text-align: left;
  font-size: 20px;
  line-height: 150%;
  color: #414141;
}

.wrapper {
  display: flex;
  column-gap: 13.12px;
  align-items: flex-end;
}

.mail {
  margin-left: 15px;
  color: #414141;
}
