.bannercard {
  width: 584px;
  height: 200px;
  background-color: #fcd5ba;
    background-image: url("./assets/cardofloyalty.png");
  background-repeat: no-repeat;
  background-position: right;
  margin: 50px auto;
  border-radius: 4px;
  display: flex;
  justify-content: start;

  &__texts {
    padding: 30px 0 40px 40px;
    width: 300px;
  }

  &__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #414141;
    margin-bottom: 6px;
  }

  &__subtitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #414141;
  }
}

.bannercard:hover {
  box-shadow: 4px 8px 16px rgb(255 102 51 / 20%);
}

.bannerkorzina {
  width: 584px;
  height: 200px;
  background-color: #e5ffde;
  margin: 50px auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;

    &__img {
    width: 200px;
    display: block;
    margin: 15px auto 0 45px;
  }
}

.bannerkorzina:hover {
  box-shadow: 4px 8px 16px rgb(112 192 91 / 20%);
}

@media (max-width: 592px) {
  .bannercard {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__img {
    width: 310px;
  }
}

.bannerkorzina {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
}