.banner_title {
  font-size: 36px;
}

.banner_box {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.bannercard {
  width: 584px;
  height: 200px;
  background-color: #fcd5ba;
  border-radius: 4px;
  display: flex;

  &__texts {
    margin: 30px 0 44px 40px;
    width: 258px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #414141;
    margin-bottom: 6px;
  }

  &__subtitle {
    line-height: 24px;
    color: #414141;
    font-size: 16px;
  }
}

.bannercard:hover {
  box-shadow: 4px 8px 16px rgb(255 102 51 / 20%);
}

.bannerkorzina {
  width: 584px;
  height: 200px;
  background-color: #e5ffde;
  background-image: url(./assets/sign.svg);
  border-radius: 4px;
  display: flex;
  position: relative;

  &__img {
    width: 193px;
    position: absolute;
    right: 42px;
    top: 14px;
  }
  &__texts_cart {
    margin: 30px 0 44px 40px;
    width: 258px;
  }
}

.bannerkorzina:hover {
  box-shadow: 4px 8px 16px rgb(112 192 91 / 20%);
}

@media (max-width: 1200px) {  
  .banner_box {
    gap: 20px;
  }
  .bannercard {
    width: 500px;
    overflow: hidden;
    &__title {
      width: 250px;
    }
  }
  .bannerkorzina {
    width: 500px;
    &__img {
      width: 132px;
      top: 24px;
      right: 36px;
    }
  }
}

@media (max-width: 921px) {
  .bannercard {
    width: 353px;
    height: 170px;
    overflow: hidden;

    &__texts {
      margin: 20px auto 36px 20px;
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      width: 174px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 18px;
    }

    &__img {
      transform: translateX(-40px);
    }
  }
  .bannerkorzina {
    width: 353px;
    height: 170px;
    overflow: hidden;

    &__texts_cart {
      margin: 20px auto 27px 20px;
      width: 125px;
    }
  }
}

@media (max-width: 660px) {
  .banner_box {
    display: block;
    margin-top: 16px;
  }
  .bannercard {
    width: 336px;
    height: 170px;
    margin-bottom: 16px;

    &__img {
      width: 310px;
      transform: translateX(-50px);
    }
  }

  .bannerkorzina {
    width: 336px;
  }
}
