.footer {
    background-image: url("./images/pattern2.svg");
    background-color: #F9F4E2;
    width: 100%;
    height: 126px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    padding: 24px;
    grid-template-columns: 180px 700px 160px 180px ;
    grid-template-rows: 54px 24px;
    gap: 0 40px;
    justify-content: center;
    align-items: center;

    &__logo_grid {
    margin-left: 116px;
    width: 64px;
    height: 44px;
}
    &__links_grid {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
}
    &__link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
    text-decoration: none;
    list-style: none;
}
    &__item {
        padding: 5px;
}
    &__img {
    width: 20px;
    height: 20px;
}
    &__contact_grid{
    display: flex;
}
    &__tel{
    display: block;
    margin-right: 10px;
}
    &__numbers{
    display: block;
}
    &__design_grid {
    display: flex;
    text-align: center;
    align-items: center;
    grid-column: 4;
}
    &__des {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-right: 8px;
}
    &__deslogo {
    width: 100px; 
    height: 10px;
}
}

@media (max-width: 1360px) {
.footer {
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 100px 700px 70px 180px ;
    grid-template-rows: 44px 24px;
    gap: 0 20px;
    align-items: start;

    &__logo_grid {
    margin-left: 0;
}
    &__items_grid {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
}
}

@media (max-width: 1230px) {
.footer {
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 80px 350px 70px 180px ;
    grid-template-rows: 44px 24px;
    gap: 0 20px;
    align-items: start;

    &__logo_grid {
    margin-left: 0;
    }
    &__links_grid {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    text-decoration: none;
    flex-wrap: wrap;
    text-align: start;
    }
    &__link {
    margin: 0 20px 0 0;
    text-decoration: none;
    list-style: none;
}
    &__items_grid {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
    &__tel{
    display: block;
    margin-right: 5px;
}
    &__design_grid {
    grid-column: 4;
}
}
}

@media (max-width: 1000px) {
.footer {
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 80px 310px 70px 180px ;
    grid-template-rows: 44px 24px;
    gap: 0 20px;

    &__logo_grid {
    margin-left: 0;
}
    &__links_grid {
    display: flex;
    list-style: none;
    justify-content: start;
    text-decoration: none;
    flex-wrap: wrap;
    text-align: start;
}
    &__link {
    margin: 0 20px 0 0;
    text-decoration: none;
    list-style: none;
}
    &__items_grid {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
    &__design_grid {
    grid-column: 4;
}
}
}

@media (max-width: 760px) {
.footer {
    height: 262px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 150px 150px ;
    grid-template-rows: 44px 24px 44px 24px;
    gap: 20px 20px;
    justify-content: center;
    align-items: center;

    &__logo_grid {
    margin-left: 0;
    width: 93px;
    height: 64px;
    grid-row: span 2;
    }
    &__links_grid {
    gap: 6px;
    display: flex;
    list-style: none;
    justify-content: start;
    text-decoration: none;
    flex-wrap: wrap;
    text-align: start;
    grid-row: 3;
    grid-column: span 2;
    }
    &__link {
    margin: 0 20px 0 0;
    text-decoration: none;
    list-style: none;
    }
    &__items_grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    }
    &__contact_grid{
    grid-row: 2;
    grid-column: 2;
    }
    &__design_grid {
    grid-row: 4;
    grid-column: 1;
}
}
}
