.wrapper {
  background-image: url("./assets/pattern2.svg");
  background-color: #f9f4e2;
  padding: 24px 0;
}

.footer {
  display: grid;
  grid-template-columns: 64px 1fr 140px 152px;
  grid-template-rows: 44px 18px;
  gap: 16px 40px;
  justify-content: center;
  align-items: center;

  &__logo_grid {
    display: block;
    width: 64px;
    height: 44px;
  }

  &__links_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 40px;
    list-style: none;
    text-decoration: none;
  }

  &__link {
    font-size: 12px;
    line-height: 150%;
    color: #414141;
    text-decoration: none;
    list-style: none;
  }
  &__link:hover {
    color: #ff6633;
  }

  &__items_grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  &__img {
    width: 20px;
    height: 20px;
  }

  &__contact_grid {
    margin-top: 5px;
    display: flex;
    column-gap: 10.5px;
  }

  &__design_grid {
    grid-column: 4;
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
  }

  &__des {
    font-size: 12px;
    line-height: 150%;
  }

  &__deslogo {
    width: 100px;
    height: 10px;
  }

  &__tel {
    display: flex;
    gap: 10.5px;
    color: #414141;
    text-decoration: none;
  }
  &__item:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1170px) {
  .wrapper {
    padding: 32px 0;
  }
  .footer {
    grid-template-columns: 64px 1fr 52px 152px;
    grid-template-rows: 28px 28px;
    gap: 0 20px;

    &__logo_grid_wrapper {
      grid-row: span 2;
    }

    &__links_grid {
      grid-row: span 2;
    }

    &__items_grid {
      grid-row: span 2;
      column-gap: 12px;
    }

    &__design_grid {
      grid-column: 4;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 40px 28px;
  }

  .footer {
    margin: 0 auto;
    max-width: 304px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 64px auto 18px;
    gap: 24px 0;

    &__logo_grid_wrapper {
      grid-row: 1;
    }

    &__logo_grid {
      width: 93px;
      height: 64px;
    }

    &__links_grid {
      grid-row: 2;
      grid-column: span 2;
      column-gap: 16px;
    }

    &__items_grid {
      margin: 0;
      margin-bottom: auto;
      margin-left: auto;
      grid-row: 1;
      grid-column: 2;
      column-gap: 20px;
    }
    &__contact_grid {
      margin: 0;
      margin-top: auto;
      margin-left: auto;

      grid-row: 1;
      grid-column: 2;
    }
    &__design_grid {
      grid-row: 3;
      grid-column: span 2;
    }
  }
}
