.footer {
    background-image: url("./images/pattern2.png");
    background-color: #F9F4E2;
    width: 1440px;
    height: 126px;
    display: flex;
    position: relative;
}
.footer__logo {
    margin: 0 auto;
    max-width: 20px;
}
.footer__logo img {
    width: 100%;
    height: auto;
}
.footer__links {
        margin: 37px 35px 71px 220px;
        display: flex;
}
.footer__link {
    margin: 0 20px 0;
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
    text-decoration: none;
}
.footer__items {
    margin: 36px 45px 70px 0;

}
.footer__item {
    margin: 0 10px;
}

.footer__contact{
    display: flex;
    margin: 34px 116px 26px 0;

}
.footer__tel{
    display: block;
    margin-right: 10px;
}
.footer__numbers{
        display: block;

}
.footer__design {
    display: flex;
    position: absolute;
    left: 86%;
    right: 0%;
    top: 15%;
    bottom: 15.39%;
    // background: #4A4A4A;
}
.footer__des {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-right: 8px;
    // color: #414141;
}