.footer {
  background-image: url("./images/pattern2.png");
  background-color: #f9f4e2;
//   width: 1440px;
  height: 126px;
  display: flex;
  position: relative;
  margin-top: 50px;
  position: fixed;
  left: 0;
//   right: 0;
  bottom: 0;
  width: 100%;

  &__logo {
    margin: 24px 0 0 116px;
    width: 64px;
    height: 44px;
  }
  &__logo img {
    width: 100%;
    height: auto;
  }
  &__links {
    margin: 37px 40px 71px 40px;
    display: flex;
  }
  &__link {
    margin: 0 20px 0;
    display: block;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #414141;
    text-decoration: none;
  }
  &__items {
    margin: 36px 45px 70px 0;
  }
  &__item {
    margin: 0 10px;
  }

  &__contact {
    display: flex;
    margin: 34px 116px 26px 0;
  }
  &__tel {
    display: block;
    margin-right: 10px;
  }
  &__numbers {
    display: block;
  }
  &__design {
    display: flex;
    position: absolute;
    left: 78%;
    right: 0%;
    // top: 15%;
    bottom: 15.39%;
    // background: #4A4A4A;
  }
  &__des {
    display: block;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-right: 8px;
    // color: #414141;
  }
}
