.contacts {
  display: flex;
  gap: 120px;
  flex-direction: column;
  color: rgb(65 65 65 / 100%);
}

.item1 {
  display: flex;
  height: 88px;
  gap: 85px;
}

.box {
  font-size: 24px;
  display: grid;

  &__img {
    height: 32px;
    width: 32px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__text,
  .first {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 36px;
    padding-top: 4.5px;
  }

  &__tel {
    font-weight: 700;
    text-decoration: underline;
    text-align: left;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 36px;
    color: rgb(65 65 65 / 100%);
  }
}

@media (max-width: 1245px) {
  .contacts {
    max-width: 95%;
  }

  .item1 {
    gap: 40px;
  }
}

@media (max-width: 1030px) {
  .contacts {
    max-width: 95%;
    gap: 100px;
  }

  .box {
    font-size: 18px;

    &__img {
      height: 19px;
      width: 19px;
      margin-right: 10px;
    }

    &__text,
    .first {
      height: 27px;
      padding-top: 0;
    }
  }
}

@media (max-width: 760px) {
  .contacts {
    gap: 80px;
  }
  .item1 {
    flex-direction: column;
    width: 300px;
    height: 186px;
    gap: 16px;
  }

  .box {
    width: 210px;

    &__img {
      margin-right: 9px;
    }

    &__text {
      height: 60px;
      text-align: left;
      padding-top: 0;
    }

    .first {
      padding-top: 0;
    }

    &__tel {
      font-size: 22px;
    }
  }
}
