.grid_wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, 272px);
}

@media (max-width: 768px) {
    .grid_wrapper {
        gap: 32px;
    }
}

@media (max-width: 360px) {
    .grid_wrapper {
        gap: 16px;
    }
}