.notfound {
  padding: 40px 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 40px;
  color: #414141;
}

.img__wrapper {
  width: max-content;
}

.img {
  width: 450px;
  height: 450px;
  display: block;
}

//Rotating animation
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

.turbo {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
.nitro {
  -webkit-animation: rotating 0.1s linear infinite;
  -moz-animation: rotating 0.1s linear infinite;
  -ms-animation: rotating 0.1s linear infinite;
  -o-animation: rotating 0.1s linear infinite;
  animation: rotating 0.1s linear infinite;
}

@media (max-width: 1140px) {
  .img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 940px) {
  .img {
    width: 250px;
    height: 250px;
  }
  .title {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .title {
    font-size: 24px;
    text-align: center;
  }
  .btn {
    width: 100%;
  }
}
